<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="wasp">
    <div class="mrn">
      <%- include('menuright'); %>
    </div>
    <div class="content">
      <div id="Naki"></div>
      
    </div>
</main>




<footer>
  <%- include('footer'); %>
</footer>

</body>
</html>